{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
/* Styles pour l'en-tête */
}

main {
/* Styles pour la section principale */
}

section {
/* Styles pour chaque section */
}

footer {
/* Styles pour le pied de page */
}